<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LetHimCookEntities" connectionString="metadata=res://*/LHCdb.csdl|res://*/LHCdb.ssdl|res://*/LHCdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=laptop-6ncuvg8v;initial catalog=LetHimCook;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>